* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans";
}

a {
  text-decoration: none;
  color: black;
}

/* ---- Header Styling ---- */


#header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5;
}

#navbar ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

#navbar ul li {
  text-align: center;
  margin: 25px 35px 25px 35px;
  font-size: 18px;
}

#navbar ul li a:hover {
  color: #565656;
}

#responsive-header {
  display: none;
}



#welcome-section-title span {
  color: orange; /* Set the text color to orange */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: orange;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  opacity: 0;
}

.button:hover {
  background-color: #f5cc75;
  box-shadow: 0px 15px 20px rgba(255, 206, 73, 0.719);
  color: #fff;
  transform: translateY(-7px);
}

.fade-in-btn {
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#footer-container1 footer {
  margin-top: 35%;
}

.card {
  max-width: 37%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 20px; 
}

.info-card {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 20px; 
}


.card-image {
  max-width: 100%;
  overflow: hidden;
}
  
.card-image img {
  width: 700px;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 20px;
  box-sizing: border-box;
}

.card-info h2 {
  margin-top: 0;
  font-size: 24px;
  color: black;
  text-align: left;
}

.card-info h3 {
  font-size: 18px;
}

.card-info hr{
  opacity: 1;
}

.card-info p {
  font-size: 14px;
  line-height: 1.5;
}

.card-info ul {
  list-style: square;
  font-size: 14px;
}

.card-info li {
  margin-bottom: 10px;
}


.card-info li strong {
  display: inline-block;
  width: 100px;
}

.spare-overlay {
  height: 20vh;
}

/* ---- Hero Styling ---- */

#welcome-section {
  /* Positioning */
  position: relative;

  /* width: 100vw; */
  height: 97vh;

  /* hero-header flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Texy style */
  text-align: center;
  color: black;
}

#welcome-section-title {
  font-size: 3.5em;
}

#moving-arrow {
  position: absolute;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3%;
}



/* ---- Projects Styling ---- */

#projects-container {
  margin: auto;
  width: 100%;
  /* margin-top: 7%; */
}

#projects {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#title-and-separator {
  margin-top: 7%;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
}

#title-and-separator hr {
  margin: auto;
  margin-top: 3%;
  width: 100%;
}

.project {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  margin: 1% 7% 1% 7%;
}

#image-subtitle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  color: white;
}

#overlay-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #242424;
  opacity: 0.8;
}

/* Author: Aiden Boc */
/* Purpose: Title to rotate keyframe 360 degrees in navigation bar */
/* title keyframe */

.navbar-logo {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.wave {
  position: relative;
}
.wave span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  color: #000;
  text-transform: uppercase;
  animation: flip 6s infinite;
}

.wave span:nth-child(1) {
  --i: 0.6;
  animation-delay: calc(0.5s * var(--i));
}

.wave span:nth-child(2) {
  --i: 1.2;
  animation-delay: calc(0.5s * var(--i));
}

.wave span:nth-child(3) {
  --i: 1.8;
  animation-delay: calc(0.5s * var(--i));
}
.wave span:nth-child(4) {
  --i: 2.4;
  animation-delay: calc(0.5s * var(--i));
}
.wave span:nth-child(5) {
  --i: 3;
  animation-delay: calc(0.5s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.wave2 {
  position: relative;
}
.wave2 span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  color: #000;
  text-transform: uppercase;
  animation: flip 6s infinite;
}

.wave2 span:nth-child(1) {
  --i: 3.6;
  animation-delay: calc(0.5s * var(--i));
}

.wave2 span:nth-child(2) {
  --i: 4.2;
  animation-delay: calc(0.5s * var(--i));
}

.wave2 span:nth-child(3) {
  --i: 4.8;
  animation-delay: calc(0.5s * var(--i));
}
.wave2 span:nth-child(4) {
  --i: 5.4;
  animation-delay: calc(0.5s * var(--i));
}
.wave2 span:nth-child(5) {
  --i: 6;
  animation-delay: calc(0.5s * var(--i));
}
.wave2 span:nth-child(6) {
  --i: 6.6;
  animation-delay: calc(0.5s * var(--i));
}
.wave2 span:nth-child(7) {
  --i: 7.2;
  animation-delay: calc(0.5s * var(--i));
}

@keyframes typing2 {
  from {
    width: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ---- Footer styling ---- */

footer {
  box-shadow: 1px 2px 15px #bebebe;
  margin-top: 3%;
  color: #858585;
  text-align: center;
}

#footer-container {
  margin-top: 20%;
}

footer p {
  padding: 0.5%;
}


/* Apply general styles to the table */
table {
  width: 100%; /* Make table fill its container */
  border-collapse: collapse; /* Collapse table borders */
  font-family: "Noto Sans"; /* Set font family */
  font-size: 20px; /* Set font size */
  text-align: center; /* Center-align table content */
  margin-bottom: 20px; /* Add space below the table */
}

/* Style table header cells */
th {
  background-color: #e0e0e0; /* Light gray background */
  padding: 10px; /* Add padding inside header cells */
  border: 1px solid #ddd; /* Add border to header cells */
}

/* Style table body cells */
td {
  padding: 10px; /* Add padding inside data cells */
  border: 1px solid #ddd; /* Add border to data cells */
}

/* Style the first column (Hours) to be bold */
th:first-child,
td:first-child {
  font-weight: bold;
}

#media table {
  display: none;
}